/* Tablet */
@media only screen and (max-width: 910px) {
    /* Timeline completa */
    .control-list__time--timeline__full {
        width: 150px;
    }
    /* Lista bottoni */
    .control-list__buttons--options {
        font-size: 18px;
    }
    /* Bottone Play */
    .control-list__buttons--options li:nth-child(3) {
        font-size: 32px;
    }
    /* Barra del volume */
    .volume-bar {
        width: 80px;
    }
    /* Colonna */
    .col {
        flex-basis: 50%;
    }
}

/* Smartphone */
@media only screen and (max-width: 600px) {
    /* Barra laterale */
    .sidebar {
        width: 50px;
        align-items: center;
        gap: 15px;
    }
    /* 
        Immagine grande usata come logo nella sidebar
        Nome degli elementi della lista delle opzioni della sidebar
        Playlist
        Titolo dell'opzione per scarica l'app
        Nome utente
    */
    .sidebar-logo__big,
    .sidebar-options__list--item__name,
    .playlist,
    .download-app__option,
    .profile__name {
        display: none;
    }
    /* Immagine piccola usata come logo nella sidebar */
    .sidebar-logo__small {
        display: block;
    }
    /* Bordo sinistro dell'pzione della sidebar che si ha attiva al momento  */
    .active-sidebar::before {
        display: none;
    }
    /* Linea tra il Profilo e il Download dell'app */
    .profile::before {
        display: none;
    }
    /*  
        Logo della sidebar
        Elementi della lista delle opzioni della sidebar
        Download dell'app
        Profilo
    */
    .sidebar-logo,
    .sidebar-options__list--item,
    .download-app,
    .profile {
        padding: 0px;
    }
    /* Opzioni della sidebar */
    .sidebar-options {
        flex-grow: 1;
    }
}