/* Regole generali */
:root {
    --black: #000000;
    --grey: #282828;
    --light-grey: #7D7F84;
    --blue: #141922;
    --dark-blue: #080B12;
    --white: #FFFFFF;
    --green: #ADFF2F;
}

@font-face {
    font-family: "Gotham";
    src: url("../font/GothamBook.ttf");
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Gotham";
}

ul, ol, menu {
    list-style: none;
}

/* Body */
body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Main */
.main-content {
    flex-grow: 1;
    display: flex;
}

/* Barra laterale */
.navbar {
    background-color: var(--black);
    width: 200px;
    flex-shrink: 0;
}

/* Contenuto */
.content {
    background-color: var(--blue);
    flex-grow: 1;
}

/* Footer */
.page-footer {
    flex-shrink: 0;
    background-color: var(--grey);
    padding: 25px 10px;
}

/* Player */
.player {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--white);
    border: 1px solid violet;
}

.player > * {
    border: 1px solid white;
}

/* Canzone in riproduzione */
.song-played {
    display: flex;
    align-items: center;
    gap: 10px;
}

/* Immagine della canzone riprodotta */
.song-played__img img {
    display: block;
    width: 43px;
}

/* Nome canzone riprodotta */
.song-played__name {
    padding-right: 10px;
}

/* Titolo della canzone e le opzioni */
.song-played__name--title,
.song-played__options {
    color: var(--light-grey);
}

/* Bottone preferiti del player */
.song-played__options--favorite {
    padding-right: 5px;
}

/* Lista dei controlli */
.control-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}

/* Lista bottoni */
.control-list__buttons--options {
    display: flex;
    align-items: center;
    gap: 50px;
    font-size: 24px;
}

/* Bottone Play */
.control-list__buttons--options li:nth-child(3) {
    font-size: 38px;
}

/* Tempo */
.control-list__time {
    display: flex;
    align-items: center;
}

/* Tempo passato e lunghezza della canzone */
.control-list__time--spent,
.control-list__time--length {
    font-weight: bold;
    font-size: 12px;
}

/* Timeline completa */
.control-list__time--timeline__full {
    background-color: var(--light-grey);
    width: 425px;
    height: 5px;
    border-radius: 4px;
    margin: 0px 25px;
}

/* Timeline con il tempo passato */
.control-list__time--timeline__spent {
    background-color: var(--white);
    width: 20%;
    height: 100%;
    border-radius: 4px;
}