/* Regole generali */
:root {
    --black: #000000;
    --grey: #282828;
    --light-grey: #7D7F84;
    --blue: #141922;
    --dark-blue: #080B12;
    --white: #FFFFFF;
    --green: #ADFF2F;
}

@font-face {
    font-family: "Gotham";
    src: url("../font/GothamBook.ttf");
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Gotham";
}

/* Body */
body {
    height: 100vh;
}

/* Main */
.main-content {
    height: calc(100vh - 90px);
    display: flex;
}

/* Barra laterale */
.navbar {
    background-color: var(--black);
    width: 200px;
}

/* Contenuto */
.content {
    background-color: var(--blue);
    width: calc(100% - 200px);
}

/* Footer */
.page-footer {
    height: 90px;
    background-color: var(--grey);
}